@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.donate-container {
    position: absolute;
    top: 0.4%;
    right: 0.4%;
}

.donate-button {
    background-color: #f05454;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
}

.donate-button:hover {
    box-shadow: 0px 0px 3px white;
    cursor: pointer;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -60%);
}

h1 {
    color: #e8e8e8;
    font-family: 'Amatic SC', cursive;
    font-size: 7em;
}

.main input {
    padding: 1em;
    font-size: large;
    background-color: #30475e;
    box-shadow: 00px 0px 2px #e8e8e8;
    color: #e8e8e8;
    display: inline-block;
    min-width: 20%;
}

.main input[type='submit'] {
    margin: 5px;
}

.main input[type='submit']:hover {
    background-color: #f05454;
    cursor: pointer;
}

.help {
    background-color: #30475e;
    position: absolute;
    text-align: center;
    padding: 0 10%;
    bottom: 0;
    font-size: 0.8em;;
    overflow: hidden;
}

@media only screen and (max-width: 1060px) {
    .help {
        transform: translate(0, 80%);
        font-size: 1em;
    }
  }