@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -70%);
}

h1 {
    color: #e8e8e8;
    font-family: 'Amatic SC', cursive;
    font-size: 7em;
}

.main input {
    padding: 1em;
    font-size: large;
    background-color: #30475e;
    box-shadow: 00px 0px 2px #e8e8e8;
    color: #e8e8e8;
    display: inline-block;
    min-width: 20%;
}

.main input[type='submit'] {
    margin: 5px;
}

.main input[type='submit']:hover {
    background-color: #f05454;
    cursor: pointer;
}